.form {
	position: relative;
	@media (min-width: toEm(601)) {
		max-width: toRem(800);
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: white;
		opacity: 0;
		visibility: hidden;
		z-index: 2;
		transition: all 0.3s;
	}
	&._sending {
		pointer-events: none;
		&::before {
			opacity: 0.8;
			visibility: visible;
		}
	}
	&__wrapper {
		display: grid;
		gap: toRem(30);
	}
	&__title {
		font-weight: 700;
		font-size: toRem(20);
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// margin: 0 auto;

	// .form__line

	&__line {
	}
	// .form__label

	&__label {
		font-size: toRem(16);
		position: relative;
		width: 100%;
		&::before {
			content: "";
			transition: transform 0.6s ease 0s;
			position: absolute;
			left: 0;
			bottom: toRem(-1);
			width: 100%;
			height: toRem(1);
			background-color: green;
			transform: scale(0);
		}
		&:focus-within {
			&::before {
				transform: scale(1);
				transform-origin: center;
			}
		}
	}

	&__error {
		position: relative;
		top: toRem(5);
		color: red;
		@media (max-width: $mobileSmall) {
			font-size: toRem(13);
		}
	}

	// .form__input

	&__input {
	}

	// .form__placeholder

	&__placeholder {
		will-change: transform;
		font-size: toRem(16);
		line-height: 1.6;
		letter-spacing: toRem(0.5);
		position: absolute;
		top: 0;
		left: toRem(15);
		transition: all 0.3s ease 0s;
		pointer-events: none;
		._form-error & {
			animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
		}

		._input-active & {
			transition: all 0.3s ease 0s;
			transform: translate(0, toRem(-15));
			font-size: toRem(10);
			color: green;
			will-change: transform;
			cursor: default;
		}
		&_area {
			._input-active & {
				top: toRem(-5);
			}
		}
		._form-error & {
			color: red;
		}
	}
	// .form__send

	&__send {
		margin-top: toRem(30);
		width: 100%;
		border: toRem(1) solid green;
		padding: toRem(10);
		border-radius: toRem(5);
		font-weight: 700;
		transition:
			background-color 0.3s,
			color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: white;
				background-color: green;
			}
		}
	}
}

//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0 toRem(15);
	height: toRem(30);
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: toRem(1) solid gray;
	&::placeholder {
		opacity: 0;
		transition: opacity 0.3s;
		color: black;
	}
	&:focus {
		&::placeholder {
			opacity: 0.3;
		}
	}
	&:focus ~ {
		.form__placeholder {
			transition: all 0.3s ease 0s;
			transform: translate(0, toRem(-15));
			font-size: toRem(10);
			color: green;
			will-change: transform;
			cursor: default;
		}
		.form__placeholder_area {
			top: toRem(-5);
		}
	}
	._form-error & {
		border-color: red;
	}
}

textarea.input {
	resize: none;
	padding: 0 toRem(15);
	min-height: toRem(100);
}

[data-loader-form] {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("@img/loader.gif") center / 100px 100px no-repeat;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	._sending & {
		opacity: 1;
		visibility: visible;
		pointer-events: none;
	}
}
@keyframes shake-horizontal {
	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(8px);
		transform: translateX(-8px);
	}
}
