.page {
	@include adaptiveValue("padding-top", 100, 80);
}

.page__container {
	padding-top: toRem(30);
	padding-bottom: toRem(30);
}
.form-wrappers {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: grid;
	gap: toRem(30);
	@media (min-width: toEm(601)) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: toEm(600)) {
	}

	// overflow-y: auto;
}

section {
	&:not(:last-child) {
		margin-bottom: toRem(250);
	}
}
